/* ==============
    Read more
   ============== */
.post-read-more {
    display: inline-block;
    padding: 20px;
    color: $dark-gray;
    text-decoration: none;
    font-size: $medium-large-font;
    width: initial;
    background-color: $light-gray;
    margin-top: 5px;

    &:hover {
        background-color: $kerf-red;
        color: #FFF;
    }
}

.posts-more-to-load {
    text-align: center;
    display: block;
    padding: 20px;
    color: $dark-gray;
    text-decoration: none;
    font-size: $medium-large-font;
    background-color: $light-gray;
    margin: 20px 0;

    &:hover {
        background-color: $kerf-red;
        color: #FFF;
    }
}


.posts-none-to-load {
    text-align: center;
    display: block;
    padding: 20px;
    color: $mid-gray;
    text-decoration: none;
    font-size: $medium-large-font;
    background-color: $light-gray;
    margin: 20px 0;

    &:hover {
        color: $mid-gray;
        cursor: default;
    }
}

.more-post-wrapper {
    padding: 0 25px 50px 25px;
}

.blog-header h2 {
    margin: 0 0 20px 0;
}

.footer-tagline-blog {
    float:left;
    width: 100%;

    @include media($small-medium) {
        margin-left: 100px;
    }
}

.footer-newsletter {
    width: 100%;
    padding-top: 20px;

    h5 {
        color: #FFF;
    }

    .email-input form input[type='text'] {
        padding: 10px 20px;
    }

    .email-input form input[type='button'] {
        padding: 11px 12px;
        background-color: $mid-gray;

        &:hover {
            background-color: $kerf-red;
        }
    }

    @include media($small-medium) {
        width: 30%;
        float: right;
        padding-top: 0;
    }
}

