// Define your breakpoints
$x-large: new-breakpoint(min-width 1500px);
$large: new-breakpoint(min-width 1200px);
$medium-large: new-breakpoint(min-width 1075px);
$medium: new-breakpoint(min-width 900px);
$small-medium: new-breakpoint(min-width 675px);
$small: new-breakpoint(min-width 480px);

//define font sizes
$x-large-font: 40px; /* headers only */
$large-font: 35px; /* headers only */
$medium-large-font: 24px; /* transitional header only */
$medium-font: 20px;
$small-font: 16px;
