# MISC FILES
# ------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-workspace
*.sublime-project
_notes
dwsync.xml
logs/*
.sass-cache
node_modules

# Framework Builds
# ------------------------------------------------------------
public/app