$light-gray: #efefef;
$mid-gray: #a9a9a9;
$dark-gray: #444444;
$highlight-selection: #b3d4fc;

$kerf-red: rgba(240,0,0,1);
$kerf-red-semi-trans: rgba(240,0,0,0.7);
$white-90perc: rgba(255,255,255,.9);
$white-70perc: rgba(255,255,255,.7);
$footer: rgb(38,38,38);
$text: #222222;


// Social colors for site
$twitter: #63cdf1;
$facebook: #507cbe;
$pinterest: #f16261;
$instagram: #c7c5b3;
$youtube: #f16261;


// Utility Colors
$error: #f84040;
$success: #a7e272;
$warning: #f6ad3b;
