
<div class="main-header">
    <div class="wrapper clearfix">
        <div class="logo-wrapper">
            <a class="" href="/">
                <!--  Site Logo -->
                <div class="site-logo">Site Logo</div>
                <!-- End Site Logo -->
            </a>
        </div>
        <div class="nav-wrapper">
            <nav class="primary-navigation">
                {{ fn('primary_navigation') }}
            </nav>
        </div>
    </div>
</div>

<div class="header-bar">
    <div class="header-bar-border"></div>

    <h2 class="logo" role="banner">
        <a href="{{ site.url }}" rel="home">
            <span class="mark">&nbsp;</span>
            {{ site.name }}
        </a>
    </h2>

    <a href="{{ nowhere }}" class="menu-switch"><span></span></a>
</div>

