
{% extends '_master.twig' %}


{% block content %}
<main id="main" class="home-main">
	<div class="container">
		<section>
		    <div class="vert-center">
		        <h2 class="hero-title">Home.</h2>
		        {# {{ fn('var_dump',settings) }} #}
		    </div>
		</section>
	</div>
</main>
{% endblock %}
