
<div class="header-container">
    <header class="wrapper clearfix">
        <a href="/">
            <!--  Site Logo -->
            <div class="site-logo"></div>
            <!-- End Site Logo -->
        </a>
        <nav class="primary-navigation">
            {{ fn('primary_navigation') }}
        </nav>
    </header>
</div>

<section role="header" class="header-bar">
    <div class="header-bar-border"></div>

    <h2 class="logo" role="banner">
        <a href="{{ site.url }}" rel="home">
            <span class="mark">&nbsp;</span>
            {{ site.name }}
        </a>
    </h2>

    <a href="{{ nowhere }}" class="menu-switch"><span></span></a>
</section>

