.big-underline-white,
.big-underline,
.big-underline-nav {
    text-decoration: none;
    display: inline-block;
    border-style: solid ;
    border-width: 0 0 2px 0;
    width: auto;
}

.big-underline,
.big-underline-nav {
    position: relative;
}

.big-underline-nav {
    border-color: transparent;
    &:hover {
        border-color: $kerf-red;
    }
}

.big-underline {
    border-color: $kerf-red;

    &:hover {
        border-color: #000;
    }
}

.footer-bottom-btn {
    font-size: $medium-font;
    display: inline-block;
    background-color: $kerf-red;
    height: 100px;
    text-align: center;
    margin: 20px;
    @include calc( width, '100% - 40px');

    &:hover {
        background-color: #000;
        color: #FFF;
    }

    @include media($small) {
        font-size: $medium-large-font;
    }
}

.big-underline-white {
    font-weight: bold;
    margin-left: -120px;
    color: #FFF;
    border-color: #FFF;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;

    @include media($small) {
        margin-left: -145px;
        font-size: $medium-large-font;
    }

    @include media($small-medium) {
        margin-left: -240px;
        font-size: $x-large-font;
    }

    @include media($medium-large) {
        margin-left: -250px;
        font-size: $x-large-font;
    }
}

