.footer-container
.footer-contact {
    height: auto;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-container {
    font-size: $small-font;
    background-color: $footer;

    a {
        text-decoration: none;
        color: #FFF;

        &:hover {
            color: $kerf-red;
        }
    }

    footer {
        height: auto;
        margin-left: 20px;
        padding-bottom: 40px;

        @include media($small-medium) {
            height: 200px;
            
            @include calc( width, '100% - 40px');
        }
    }
}


.footer-contact {

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        padding: 0 0 0 30px;
        @include calc( width, '100% - 3px');
        line-height: 20px;
        margin-bottom: 5px;
    }

    @include media($small-medium) {
        margin-top: 20px;
        margin-left: 60px;
        float: left;
        width: 40%;
    }
}

.footer-tagline {
    padding-top: 20px;
    color: #555;
    width: 1;
    text-align: left;

    @include media($small-medium) {
        margin-top: 20px;
        float: right;
        width: 40%;
        text-align: right;
        padding-right: 60px;
    }
}

.contact-title {
    font-weight: bolder;
}

.contact-address,
.contact-email,
.contact-phone {
    background-repeat: no-repeat;
    background-position: left 20%;
}

.contact-address {
    background-position: left top;
}

.contact-address {
    background-image: url('images/pin-icon.png');
}

.contact-email {
    background-image: url('images/mail-icon.png');
}

.contact-phone {
    background-image: url('images/phone-icon.png');
}
