/* ==============
    MOBILE: Email Form
   ============== */

.email-input {
    padding-bottom: 40px;
}

.email-input form {
    width: 100%;

    input[type='text'] {

        padding: 15px 15px;
        border: 1px solid $mid-gray;
        border-radius: 0;
        @include calc( width, '100% - 100px');
        float: left;

        @include media($medium-large) {
            padding: 15px 13px;
        }
    }

    input[type='button'] {
        background-color: $kerf-red;
        padding: 16px 15px;
        position: absolute;
        border-radius: 0;
        border: 0;
        color: #FFF;
        float:right;

        &:hover {
            background-color: #000;
        }
    }
}
