.main article footer .footer-right {
    margin: auto;
    display: inline-block;
    height: 100%;
    padding: 0 10px 0 20px;
    @include calc( width, '100% - 30px');

    @include media($medium-large) {
        float: right;
        position: relative;
        padding: 20px 50px 20px 20px;
        @include calc( width, '60% - 70px');
    }
}

.staff {
    padding-left: 0;
    margin: 0 -5px;
    position: relative;
}

.staff-member {
    @include calc( width, '100% / 2 - 15px');
    display: inline-block;
    margin: 5px 5px;
    position: relative;

    img {
        width: 100%;
        display: block;
    }

    .staff-info {
        display: none;
    }

    &:hover {
        .staff-info {
            display: none;
        }
    }

    @include media($small-medium) {
        @include calc( width, '100% / 3 - 15px');

        .staff-info {
            font-size: $small-font;
            right: 60px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: inline-block;
            background: rgb(240,0,0);
            color: #FFF;
            position: absolute;
            top: -3.75em;
            padding: 0.75em 1.875em 0.625em 0.9375em;
            opacity: 0;
            z-index: 200;
            -webkit-transform: translateX(75%);
            -moz-transform: translateX(75%);
            -ms-transform: translateX(75%);
            -o-transform: translateX(75%);
            transform: translateX(75%);
            -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);;

            .staff-title,
            .staff-caption {
                display: block;
            }

            .staff-title {
                font-weight: bold;
            }

            .staff-caption {
                font-weight: normal;
            }

            &:after {
                display: block;
                content: "";
                position: absolute;
                bottom: -12px;
                left: 0;
                height: 12px;
                width: 12px;
                height: 0;
                width: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 15px;
                border-left-color: $kerf-red;
                z-index: 50;
            }
        }

        &:hover {
            .staff-info {
                display: block;
                opacity: 1;
                top: -3.125em;
            }
        }

        &:nth-child(3n+3) {
            .staff-info{
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);

                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    right: 0;
                    height: 12px;
                    width: 12px;
                    height: 0;
                    width: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 15px;
                    border-right-color: $kerf-red;
                    z-index: 50;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    @include media($medium-large) {
        .staff-info {
            top: -6em;
            right: 20px;
        }

        &:hover {
            .staff-info {
                top: -4em;
            }
        }
    }

    @include media($x-large) {
        @include calc( width, '100% / 4 - 15px');

        .staff-info {
            top: -6.5em;
            right: 20px;
        }

        &:hover {
            .staff-info {
                top: -4em;
            }
        }

        &:nth-child(3n+3) {
            .staff-info{
                -webkit-transform: translateX(50%);
                -moz-transform: translateX(50%);
                -ms-transform: translateX(50%);
                -o-transform: translateX(50%);
                transform: translateX(50%);

                &:before {
                    display: none;
                }

                &:after {
                    display: block;
                }
            }
        }

        &:nth-child(4n+4) {
            .staff-info{
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);

                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    right: 0;
                    height: 12px;
                    width: 12px;
                    height: 0;
                    width: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 15px;
                    border-right-color: $kerf-red;
                    z-index: 50;
                }

                &:after {
                    display: none;
                }
            }
        }
    }
}
