
<form role="search" method="get" class="search-form" action="{{ site.url }}">
    <label for="s" class="screen-reader-text">{{ __('Search') }}</label>
    <input type="text" class="search-field" name="s" id="s" value="{{ fn('get_search_query') }}" placeholder="{{ __('Search') }}" />
    <input type="submit" class="search-submit" value="Submit" />
</form>
