.featured-image img {
    max-width: 70%;

    @include media($small-medium) {
        height: auto;
    }
}

.main {
    padding: 30px 0;

    article {
        width: 100%;

        section {
            background-color: $light-gray;
            display: table;
        }
    }
}

.content-container {
    padding: 20px;
    height: 390px;

    a {
        font-weight: normal;
    }

    p {
        height: 25px;
    }

    .post-text {
        overflow: hidden;
        @include calc( width, '100% - 165px');
    }

    @include media($small-medium) {
        padding: 20px 40px;
        height: auto;
        max-height: 195px;

        p{
            font-size: $small-font;
            max-height: 100%;
            overflow:hidden;
        }

        .post-text {
            height: auto;
            max-height: 65px;
        }
    }

    @include media($medium) {
        padding: 20px 60px;
        max-height: none;

        .post-text {
            max-height: 110px;
        }
    }

    @include media($large) {
        .post-text {
            max-height: 220px;
        }
    }

    @include media($x-large) {
        .post-text {
            max-height: 330px;
        }
    }
}

.section-first img,
.section-second img  {
    float:left;
}

.section-first {
    height: 100%;
    overflow: auto;
    min-height: 350px;
    display: table-row;

    @include media($small-medium) {
        float:left;

        .content-container {
            padding-left: 110px;
        }

        img {
            float:right;
        }
    }
}

.section-second  {
    height: 100%;
    overflow: auto;
    min-height: 350px;
    display: table-row;

    @include media($small-medium) {
        float:right;

        .content-container {
            padding-right: 110px;
        }

        img {
            float:left;
        }
    }
}

.section-first,
.section-second {
    @include media($small-medium) {
        min-height: 0;
        width: 50%;
    }
}
