
.main article footer {
    padding: 0;
    padding-right: 0;

    @include media($medium-large) {
        padding: 40px 80px;
    }

    @include media($large) {
        padding: 40px 100px;
    }
}


.footer-left-about,
.footer-left-connect {
    padding: 20px;
    @include calc( width, '100% - 40px');

    @include media($medium-large) {
        float: left;
        padding: 0 20px;
        @include calc( width, '40% - 40px');
    }
}

.footer-left-connect {
    padding-top: 0;
    margin-bottom: 20px;
}

.soc-med-header {
    display: none;
}

.footer-bottom {
    border-style: solid;
    border-color: $light-gray;
    border-width: 2px 0 0 0;
    float: left;
    margin: 40px 0 0 0;
    padding: 20px 20px;

    @include media($small-medium) {
        float: left;
        text-align: center;

        p {
        padding: 0 25%;
        }
    }

    @include media($medium-large) {
        margin: 80px 0 0 0;
        padding: 40px 0;
        width: 100%;
    }
}
