
{% extends '_master.twig' %}

{% block content %}
<section class="container">
    <div class="vert-center">
        <h2 class="hero-title">Home.</h2>
        {# {{ fn('var_dump',settings) }} #}
    </div>
</section>
{% endblock %}
