
{% extends '_master.twig' %}

{% block hero %}
<section id="hero" class="container hero hero-text">
    <p class="hero-message">Home</p>
</section>
{% endblock %}


{% block content %}
<section class="container">
    <div class="vert-center">
        <h2 class="hero-title">Page not found.</h2>
    </div>
</section>
{% endblock %}
